<div class="container">
    <div class="to-do-app">
        <h1 class="to-do-app--title">To do app</h1>
        <p class="to-do-app--subtitle">You can write a list of things you need to do here:</p>

        <form class="to-do-app--form" ng-submit="addToDoTask(newTask)">
            <input type="text" placeholder="I need to..." ng-model="newTask">
            <input type="submit" value="Add new task">
        </form>

        <ul class="to-do-app--list">
            <!-- Track by task.id introduced for better looking leave and enter animation -->
            <li class="to-do-app--list-item" ng-repeat="task in tasks track by task.id" id="task.id">
                <span class="to-do-app--list-item-text">{{task.taskName}}</span>
                <i class="fas fa-times-circle to-do-app--list-item-remove" ng-click="removeToDoTask(task)" title="Remove task"></i>
            </li>
        </ul>
    </div>
</div>