<div class="container">
    <div class="to-do-app">
        <h1 class="to-do-app--title">To Do App</h1>
        <p class="to-do-app--subtitle">You can write a list of thing you need to do here:</p>

        <form class="to-do-app--form" ng-submit="addToDoTask(newTask)">
            <input type="text" placeholder="I need to..." ng-model="newTask">
            <input type="submit" value="Add new task">
        </form>

        <ul class="to-do-app--list">
            <!-- Track by $index introduced, because application was crashing when duplicate items were added to the list -->
            <li class="to-do-app--list-item" ng-repeat="task in tasks track by $index">
                {{task}}
                <i class="fas fa-times-circle" ng-click="removeToDoTask(task)"></i>
            </li>
        </ul>
    </div>
</div>